{%- set n = count//group -%}
{%- for i in range(total) -%}
{%- set gn = i//(total//group) -%}
{%- set no = '%05d' | format(i|int) -%}
record(calc,"Ramp{{ no }}") {
    field(INPA,"Ramp{{ no }}")
    field(CALC,"A<{{ count }}?A+1:0")
    field(SCAN,"{{ rate }}")
    field(FLNK,"Alarm{{ no }}")
}

record(calc,"Alarm{{ no }}") {
    field(INPA,"Ramp{{ no }}")
    field(CALC,"A>={{ n*gn }}&&A<={{ n*(gn+1) }}")
    field(HIGH,"1")
    field(HSV,"MINOR")
}

{% endfor -%}

